<div class="row">


   <!-- <div class="col-sm-6 mx-auto">

    
      <div class="card border-primary text-center" style="max-width: 10rem;">
        <div class="card-header text-center"> Alumnos </div>
        <div class="card-body text-primary">
          <h5 class="card-title">
            <a [routerLink]="['/alumnos']">
              <img src="assets/alumno.png" class="card-img">
            </a>
          </h5>
          <p class="card-text text-center"> Informacion de alumnos </p>
        </div>
      </div>
    
  
  </div>

   <div class="col-sm-6 mx-auto">

    
      <div class="card border-primary" style="max-width: 10rem;">
        <div class="card-header text-center"> Nivel educativo </div>
        <div class="card-body text-primary">
          <h5 class="card-title">
            <a [routerLink]="['/nivel']">
              <img src="assets/nivel.jpg" class="card-img">
            </a>
          </h5>
          <p class="card-text text-center"> Niveles educativos </p>
        </div>
      </div>
    
  </div> -->
  

</div>

<div class="row m-3 justify-content-center">

  <div class="card-deck">

    <div class="card border-primary text-center">
      <div class="card-header text-center"> <h2> Alumnos </h2> </div>
      <div class="card-body text-primary">
        <h5 class="card-title">
          <a [routerLink]="['/alumnos']">
            <img src="assets/alumno.png" class="card-img" style="height: 250px; width: 250px;">
          </a>
        </h5>
        <h3 class="card-text text-center"> Informacion de alumnos </h3>
      </div>
    </div>

    <div class="card border-primary" >
      <div class="card-header text-center"> <h2> Nivel educativo </h2> </div>
      <div class="card-body text-primary">
        <h5 class="card-title">
          <a [routerLink]="['/nivel/listar']">
            <img src="assets/nivel.jpg" class="card-img" style="height: 250px; width: 250px;">
          </a>
        </h5>
        <h3 class="card-text text-center"> Niveles educativos </h3>
      </div>
    </div>

    <div class="card border-primary" >
      <div class="card-header text-center"> <h2> Escuelas </h2> </div>
      <div class="card-body text-primary">
        <h5 class="card-title">
          <a [routerLink]="['/escuela']">
            <img src="assets/escuela-logo.png" class="card-img" style="height: 250px; width: 250px;">
          </a>
        </h5>
        <h3 class="card-text text-center"> Escuela </h3>
      </div>
    </div>
    
   

  </div>
  
</div>
