
<div class="card-deck" style="padding: 3% 25%; text-align: center;">

  <div class="card" style="max-width: 18rem;"> 
    <a [routerLink]="['crud']" >
      <img src="assets/registro.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; font-size: x-large; "> CRUD DE ESCUELAS </h5>
      </div>      
    </a>
  </div>

  <div class="card" style="max-width: 18rem;"> 
    <a [routerLink]="['escuela-admin']" >
      <img src="assets/control.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; font-size: x-large; "> GESTION ESCOLAR </h5>
      </div>      
    </a>
  </div>

</div>
