<div class="row">
</div>

<div class="row m-3 justify-content-center">

  <div class="card-deck">

    <div class="card border-primary text-center">
      <div class="card-header text-center"> <h2> Altas de escuelas </h2> </div>
      <div class="card-body text-primary">
        <h5 class="card-title">
          <a [routerLink]="['crud']" >
            <img src="assets/registro.png" class="card-img" style="height: 250px; width: 250px;">
          </a>
        </h5>
        <h3 class="card-text text-center"> Altas de escuelas </h3>
      </div>
    </div>

    <div class="card border-primary text-center">
      <div class="card-header text-center"> <h2> Gestion Escolar </h2> </div>
      <div class="card-body text-primary">
        <h5 class="card-title">
          <a [routerLink]="['escuela-admin']" >
            <img src="assets/control.jpg" class="card-img" style="height: 250px; width: 250px;">
          </a>
        </h5>
        <h3 class="card-text text-center"> Gestion Escolar </h3>
      </div>
    </div>
    

  </div>
  
</div>


