mat-card {
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: lightsteelblue;
  }

.select {
  width: 180px;
}

.centerContent {
  padding: 25px;
  text-align: center;
  font-size: large;
}

table {
  width: 100%; 
}

.responsiveTable {
  overflow-x: auto; 
}

th,
td {
  padding: 25px;
  text-align: center;
  font-size: large;
}
